body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
  }
  .search-field {
    border: none;
    border-radius: 50px;
    padding: 5px;
    outline: none;
  }
  /* mouse hover */
  .search-field:hover {
    outline: none;
    border: none;
  }
  /* serach box design */
  .search-box {
    border: 1px solid rgb(143, 190, 228);
    width: 400px;
    border-radius: 5px;
    border-right: none;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .search-button {
    padding: 10px 50px;
    border-radius: 25px;
  
  }
  #all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .product{   
    background-color: rgba(214, 155, 155, 0);
    margin: 15px 0px 0px 15px;
    border-radius: 5px ;
  }
  .single-product {
    padding: 10px;
    transition: 0.6s;
  
  }
  /* mouse hover */
  .single-product:hover {
    box-shadow: 4px 4px 7px gray;
    border-radius: 10px;
    border: 1px solid #ff5e00;
  }
  .product-image {
    width: 150px;
    height: 150px;
  }
  #addToCart-btn{
    background-color:rgb(151, 126, 219);
    border-color: #00000038;
    outline: none;
  }
  #details-btn{
    background-color: rgb(158, 87, 75);
    border-color: #0000004a;
    outline: none;
  }
  .buy-now-btn
  {
    background-color: rgba(185, 30, 69, 0.856);
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
    font-size: large;
    border: 2px solid rgba(219, 51, 93, 0.74) ;
    height: 35px;
    width: 110px;
  }
  .cart {
    width: 350px;
    padding: 10px;
    background-color: rgba(216, 135, 135, 0.247) ;
    box-shadow: 10px 10px 20px rgba(201, 129, 129, 0.534);
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 30px;
  }
  @media only screen and (max-width: 768px) {
    #all-products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .cart {
      width: 300px;
      padding: 10px;
      box-shadow: 10px 10px 20px gray;
      border-radius: 5px;
      margin-right: 30px;
      position: fixed;
    }
    .cart-main {
      padding-right: 10px;
    }
  }
  @media only screen and (max-width: 468px) {
    #all-products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }